{"filter":false,"title":"my_world.launch","tooltip":"/aws-robomaker-sample-application-delivery-challenge/simulation_ws/src/gazebo_plugins/pose_animation_plugin/src/my_simulations/launch/my_world.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1619369991369,"hash":"62adea0ff08f45107115627a0664b7175572ff7d"}